<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhmp.project.dao.PlanDao">
	<insert id="addPrjectPlan" parameterType="java.util.List" >
		<!-- INSERT INTO plan (id,declareProject,responsibilityName,projectPlan,projectContent,finishTime,personLiable) 
		VALUES  -->
		<!-- 这样写对不对 -->
		<foreach item="item" index="index" collection="list" separator=";" >
			INSERT INTO plan (id,planSchedule,declareProject,responsibilityName,projectPlan,projectContent,finishTime,personLiable) 
			VALUES (
			#{item.id},
			#{item.planSchedule},
			#{item.declareProject},
			#{item.responsibilityName},
			#{item.projectPlan},
			#{item.projectContent},
			#{item.finishTime},
			#{item.personLiable}
			)
		</foreach>
	</insert>
	<select id="selectPrjectPlan" parameterType="com.yhmp.project.entity.ProjectPlan" resultType="com.yhmp.project.entity.ProjectPlan" >
		SELECT id,planSchedule,declareProject,responsibilityName,projectPlan,projectContent,finishTime,personLiable   
		FROM plan   
		WHERE id=#{id}
	</select>
	<delete id="deletePrjectPlan" parameterType="com.yhmp.project.entity.ProjectPlan" >
		DELETE 
		FROM plan 
		WHERE id=#{id}
	</delete>
</mapper>